<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juansevillano.testingproductos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComprobarSesion" />
        <activity android:name=".EntrarCon" />
        <activity android:name=".IniciarSesionGmail" />
        <activity android:name=".RegistrarUsuarioGmail" />
        <activity
            android:name=".VentanaOpcionesEscaner"
            android:screenOrientation="portrait" />
        <activity android:name=".CodigoBarra" />
        <activity
            android:name=".VentanaRegistroUsuario"
            android:label="Ventana Registro Usuarios"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VentanaEditarUsuario"
            android:label="Ventana Editar Usuarios"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VentanaEditarUsuarioAdmin"
            android:label="Ventana Editar Usuarios"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VentanaRegistroProducto"
            android:label="Ventana Registrar Productos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VentanaPrincipal"
            android:label="@string/title_activity_ventana_principal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>